- name: Login to Amazon ECR
  uses: aws-actions/amazon-ecr-login@v2

- name: Build Docker Image
  run: docker build -t strapi ./my-strapi

- name: Tag Docker Image
  run: |
    docker tag strapi:latest \
    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.ap-south-1.amazonaws.com/strapi:latest

- name: Push Docker Image
  run: |
    docker push \
    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.ap-south-1.amazonaws.com/strapi:latest
